<mat-nav-list>
    <div class="logo py-4">
        <img src="../../assets/image/download (1).png" alt="company logo">
    </div>
    <mat-divider>
    </mat-divider>
    <h2 matSubheader class="mt-2">Book Library</h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>Home
    </a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>book</mat-icon>Dashboard
    </a>
    <a mat-list-item routerLink="/contact" routerLinkActive="list-item-active">
        <mat-icon>call</mat-icon>Contact
    </a>
    
</mat-nav-list>
