.logo{
    text-align: center;
    padding: 2.6rem 1rem;
    
}
.mat-icon{
    vertical-align: center;
    margin-right: 1rem;

}
.mat-divider{
    border-top-width: 2px;
    border-color: azure;
}
.mat-list-item{
    color: #94a3b8 !important;
    font-size: 0.8rem;
    height: 44px !important;
     margin-bottom: 4px;
     border-radius: 5px;
     margin: 0.8px;
     
}
.list-item-active{
    color: #f2f5f7 !important;
     
}
.mat-subheader{
    color: rgb(180, 180, 206);
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 1px;
    
}